@using Corono_Website.Models
@model User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet" />

    <style>
        body {
            background: linear-gradient(to right, #00AAFF, #00FF6C);
        }

        #title {
            height: 80px;
            background-color: #e6e6ff;
            text-align: center;
            border-radius: 15px;
        }

        .h2_title {
            padding-top: 20px;
            font-family: "Times New Roman";
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12" id="title">
                <h2 class="h2_title">Korono Virüs Takip Sitesi</h2>
            </div>
        </div>
    </div>
</body>
</html>
